<!DOCTYPE html>
<html>
<head>
  <title>List of Dishes</title>
  <%- include('header') %>    
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    h1 {
      margin: 20px;
      font-size: 36px;
      text-align: center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0 auto;
      width: 80%;
      row-gap: 10px;
    }
    li {
      flex-grow: 1;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
  
    }
    .list-item{
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    h2 {
      font-size: 24px;
      margin: 0;
    }
    p {
      margin: 5px 0;
    }
    h3 {
      font-size: 20px;
      margin: 10px 0;
    }
    ul.reviews {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    ul.reviews li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }

   

   

    .btn :hover{
      width: 3%;
    }

  </style>
</head>
<body>
  <h1>List of Dishes</h1>
  <ul>
    <% dishes.forEach((dish) => { %>
      <li>
        <div class="list-item">
        <h2><%= dish.name %></h2> 
        <p>Description: <%= dish.description %></p>
        <p>Price: $<%= dish.price.toFixed(2) %></p>
        <button class="add-to-cart-btn" onclick="addToCart('<%= dish._id %>')">Add to Cart</button>
        <div id="quantityContainer">
          <button class="plut btn" onclick="plusCart('<%= dish._id %>')">+</button>
          <input type="number" value="1" disabled>
          <button class="minus btn" onclick="minus('<%= dish._id %>')">-</button>
        </div>
        <input type="number" value="1" hidden>
         </div>
      </li>
    <% }) %>
  </ul>
  <script>
    async function addToCart(dishId) {
      const clickedButton = event.target;
      try {
        const response = await fetch('/api/cart/item', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ dishId: dishId }),
          credentials: 'same-origin' // or 'include' if you want to include cookies for cross-origin requests
        });
  
        console.log(response);
        if (!response.ok) {
          throw new Error('Failed to add to cart.');
        }
        alert('Item was added to the cart'); // Assuming the API returns a message indicating success or failure
      } catch (error) {
        console.error('Error adding to cart:', error);
        alert('Failed to add to cart. Please try again.');
      }

      // Get the next sibling element
    const siblingElement = clickedButton.nextElementSibling;
    
    // Change the display style to "block"
    clickedButton.style.display = 'none'
    siblingElement.style.display = "flex";
    }

    async function plusCart(dishId) {
      const clickedButton = event.target;
      let quantity = clickedButton.nextElementSibling;
      if(quantity.value === 99)
        alert('quantity should be less than 100')
      else{
      try {
        const response = await fetch(`/item/${dishId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ quantity: quantity.value + 1}),
          credentials: 'same-origin' 
        });
  
        console.log(response);
        if (!response.ok) {
          throw new Error('Failed to update item.');
        }
        quantity.value ++;
        alert('Item was updated'); 
      } catch (error) {
        console.error('Error adding to cart:', error);
        alert('Failed to update the cart. Please try again.');
      }
    }
    }

    async function minus(dishId) {
      const clickedButton = event.target;
      let  quantity = clickedButton.parentElement;
      quantity = quantity.children[1]
      if(quantity.value === 1)
        alert('quantity should be more than 0')
      else{
      try {
        const response = await fetch(`/item/${dishId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ quantity: quantity.value - 1}),
          credentials: 'same-origin' 
        });
  
        console.log(response);
        if (!response.ok) {
          throw new Error('Failed to update item.');
        }
        quantity.value --;
        console.log(quantity)
        alert('Item was updated'); 
      } catch (error) {
        console.error('Error adding to cart:', error);
        alert('Failed to update the cart. Please try again.');
      }
    }
    }
  </script>


</html>
